.initial{
  background: linear-gradient(#530060, #BF087F);
}
.first-screen{
  background-image: url(../images/taxi.jpg);
  background-size:cover;
  background-position: bottom;
}
.logo-white{
  width: 90%;
}
.logo-pink{

  text-align: center;
}
.logo-pink2{
  padding-left: 4em;
}
.btn-color{
  background-color: grey;
}
.btn-color2{
  background-color: pink;
}
